.venv/
env/
.ipynb_checkpoints
data/
*.eps
dol/__pycache__
rstats/.Rproj.user
rstats/packrat/lib*/
rstats/packrat/src
.Rhistory
.Rprofile
plots
.Rproj.user
simulation_notes.txt
scripts
results
.DS_Store